body{
    padding: 0px;
    margin: 0px;
    background-color: transparent;
}

.container{
    background-color: wheat;
    padding: 10px;
    height: 100%;
    width: 960px;
    margin: auto;
}

.menu{
    padding: 5px;
    background-color: grey;
}

.nav{
    font-size: 20px;
    color: honeydew;
    padding: 20px;
    text-decoration: none;
}

.nav:active{
    background-color: black;
}